.Footer {
    padding-top: 62px;
    margin-top: 50px;
    height: 460px;
    background-color: var(--light-bg);
    position: relative;
}
.background {
    display: flex;
    justify-content: space-between;
}
.brandSocial {
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.siteLinks {
    display: flex;
    justify-content: space-between;
    width: 540px;
}
.siteLinks_block {
    display: flex;
    flex-direction: column;
}
.linkHeader {
    font-size: 16px;
    font-weight: 700;
}
.link {
    font: var(--font-xs);
    color: var(--primary-color);
}
.link_ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}
.socialLinks {
    display: flex;
    gap: 16px;
}
.logoImg {
    width: 52px;
    height: 52px;
}
.slogan {
    font: var(--font-m);
    color: var(--light-transparent);
}
.locationTrust {
    display: flex;
    flex-direction: column;
    gap: 70px
}
.flagLogo {
    display: flex;
    align-items: center;
    gap: 12px;
}
.flagLogo_img {
    width: 26px;
    height: 26px;
    border: 1px solid #c7ced7;
    padding: 2px;
    border-radius: 100%;
}
.engLogo_title {
    font-size: 12px;
    color: var(--light-transparent);
}
.googlePlay_img {
    width: 120px;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #fff;
    font-size: 12px;
    color: var(--light-transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}