.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.custom-prev,
.custom-next {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    height: 134px;
    width: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.custom-prev {
    left: 0;
    border-radius: 0 8px 8px 0;
}

.custom-next {
    right: 0;
    border-radius: 8px 0 0 8px;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}
