.Dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    transition: all 0.2s ease-out;
    z-index: 50;
}
.Dialog[data-closed] {
    opacity: 0;
}
.container {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 100%;
    backdrop-filter: blur(5px);
}
.enter {
    transition: opacity 0.3s;
}
.enterFrom {
    opacity: 0;
}
.enterTo {
    opacity: 1;
}
.leave {
    transition: opacity 0.3s;
}
.leaveFrom {
    opacity: 1;
}
.leaveTo {
    opacity: 0;
}
.panel {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #d1d5db;
    background-color: var(--light-svg);
    padding: 3rem;
    transition: all 0.5s ease-in-out;
}
.title {
    font-weight: bold;
}
.btns {
    display: flex;
    gap: 4px;
}
