.header {
    background-color: var(--light-bg);
}

.container {
    margin: 0 auto;
    max-width: var(--container-body);
    padding: 0 36px;
}

.content {
    height: var(--content-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoTitle {
    font-size: var(--font-size-xl);
    color: var(--primary-color);
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.Icon * {
    color: var(--primary-color);
}

.headerIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    width: 28px;
    height: 28px;
}

.hiddenIcon {
    @media (min-width: 1250px) {
        display: none;
    }
}

.iconTitle {
    color: var(--primary-color);
    font-size: 14px;
}

.routerNav {
    display: flex;
    justify-content: space-between;
    max-width: var(--container-content);
    margin: 0 auto;
    padding-bottom: 30px;
}

.routeLink {
    font-size: var(--font-size-s);
    color: var(--primary-color);
    font-weight: 600;
}
